.idea_page_header {
  display: flex;
  justify-content: center;
  height: 40vh;
  background: linear-gradient(
        45deg,
        rgba(39, 38, 1, 0.8),
        rgba(0, 35, 170, 0.7),
        rgba(53, 49, 21, 0.7),
        rgba(248, 211, 0, 0.7)
      )
      0 0 / 1000% no-repeat,
    url("https://images.unsplash.com/photo-1566148252861-3def7b71c74d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0px;
}

.project_details,
.idea_description {
  background-color: white;
  padding: 15px;

  border-radius: 10px;
  box-shadow: 3px 3px #84828f;
}
.app_name {
  font-size: 2em;
  color: white;
  text-emphasis-color: black;
}

.project_vote {
  background-color: #011627;
}

.bold {
  font-weight: bolder;
}

@media only screen and (min-width: 600px) {
  .app_name {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1224px) {
  .app_name {
    font-size: 4em;
  }
}
