.comment {
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  box-shadow: 3px 3px #84828f;
}

.comment_header {
  display: flex;
  flex-direction: row;
  background: #4e4a4f;
  color: white;
}

.user {
  flex: 0.5;
  padding: 10px;
  text-align: left;
}

.submit_date {
  flex: 0.5;
  padding: 10px;
  text-align: right;
}

.comment_vote {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  height: 25px;
  background-color: #011627;
  color: white;
}

.comment_text {
  padding: 10px;
}

.disabled {
  color: grey;
}

.green {
  color: green;
}

.red {
  color: red;
}
