.navigationBar {
  padding: 0 10px 0 10px;
  background-color: #01162790;
  color: white;
}

.navigation_list,
.nav_logo {
  list-style-type: none;
}

.nav_logo {
  float: left;
}

.nav_li {
  float: right;
  font-size: 0.8em;
  min-width: 25px;
  text-align: center;
}

.nav_li:hover {
  background-color: #0023aa;
}

li a {
  display: block;
  padding: 8px;
  color: white;
  text-decoration: none;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

@media only screen and (min-width: 375px) {
  .nav_li {
    font-size: 1em;
  }
}
