.idea_button_container {
  margin: 15px auto 15px auto;
  display: flex;
  justify-content: center;
}
.idea_button {
  background-color: #4e4a4f;
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  font-size: 1.2em;
  width: 300px;
  border-radius: 10px;
}

.idea_button:hover {
  background-color: #0023aa;
}
